# ignore temp files w/ trailing ~
*~
*__

# ignore hidden files
.*

# ignore files with the rolling extensions
*.DS_Store
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.gz
*.fdb_latexmk
*.fls
*.RData
*.Rhistory
*.rdb
*.rdx
*.md


# don't ignore the .gitignore file
!.gitignore

# ignore folders
back_up
report
cache
figure
cache/__packages
Comments
Presentation

.Rhistory

*.rdx

*.rdb

*.rdx

cache/__packages

*.md

Bahamonde_IncomeTaxAdoption.tex

*.rdb


*.rdx

resources/Ethnographic Atlas Crosstabulations.webloc

*.gz(busy)

*.snm

*.webloc
 

Submissions/

Bahamonde_IncomeTaxAdoption.txt

Chile_Income_Tax.pdf

Colombia_Income_Tax.pdf

Ecuador_Income_Tax.pdf

Guatemala_Income_Tax.pdf

Mexico_Income_Tax.pdf

Nicaragua_Income_Tax.pdf

Peru_Income_Tax.pdf

Venezuela_Income_Tax.pdf

Argentina_Income_Tax.pdf
